name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.2.2

      - name: Set up JDK 21
        uses: actions/setup-java@v4.4.0
        with:
          java-version: '21'
          distribution: 'adopt'

      - name: Gradle Wrapper Validation
        uses: gradle/actions/wrapper-validation@v4.1.0

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4.1.0

      - name: Run tests
        run: ./gradlew test

      - name: Build project
        run: ./gradlew build
